<!-- start navigation -->
<nav class="navbar no-margin-bottom bootsnav lato-navbar bg-dicarina-gray sidebar-nav sidebar-nav-style-1">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="col-md-12 col-sm-12 col-xs-12 sidenav-header">
        <!-- start logo -->
        <div class="logo-holder">
            <a href="index.html" class="display-inline-block logo">Music Streaming Tiz</a>
        </div>
        <!-- end logo -->
        <button class="navbar-toggle mobile-toggle" type="button" id="mobileToggleSidenav">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 no-padding-lr">
    </div>
</nav>
