
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-8">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1" id="npTitle"></h5>
                <small>3 days ago</small>
            </div>
            
            <div class="column add-bottom">
                <div id="mainwrap">
                    <div id="nowPlay">
                        <span class="left" id="npAction">Paused...</span>
                        <span class="right" id="npTitle"></span>
                    </div>
                    <div id="audiowrap">
                        <div id="audio0">
                            <audio preload id="audio1" controls="controls">Your browser does not support HTML5 Audio!</audio>
                        </div>
                        <!--<div id="tracks">
                                                <a id="btnPrev">&larr;</a>
                                                <a id="btnNext">&rarr;</a>
                                            </div>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">

            <div class="list-group">
                <div class="list-group-item list-group-item-action flex-column align-items-start">
                    <div id="plwrap">
                        <ul id="plList"></ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>